@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --color-primary: #103178;
  --color-secondary: #ffc800;
  --color-text: #5b6c8f;
  --color-hover: rgba(174, 177, 170, 0.66);

  --font-primary: "Inria Serif", serif;
  --font-secondary: "JetBrains Mono", serif;
}

*{
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #e9ee9f; */
}

